.identifierScreen{
    display:flex;
    align-items: center;
    align-content: center;
    width: 50vw;
    height: 15vh;
}

.profilePhoto{
    margin-left: 2vh;
    width: 4vw;
    height: 4vw;
   background-color: cadetblue;
    border-radius: 100%;
    object-fit: fill;

}

.personalInformation{
    display: flex;
    flex-direction: column;
    color: black;
    font-weight: bold;
    
    margin-left: 2vh;
}

.name{
    font-size: 20px;
}

.sector{
    font-size: 18px ;
}