

.homeMain{
    
    width: 100vw;
    height: 88vh;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;


    background: linear-gradient(20deg, #4977D1,#A3FFD8,#4977D1 );
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: aliceblue;

}




@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.firstSection{
    display: flex;
    height: 15vh;
    width: 98vw;
    justify-content: space-between;
    align-items: center;
}

.cards{
    margin-bottom: 90px;
    height: 60vh;
    width: 94vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer{
   
        display: flex;
        position: absolute;
        top: 90vh;
}



